{% extends 'base_admin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1 class="text-center text-6xl font-normal leading-normal mt-0 mb-2">User</h1>
    
    <a href="{{ path('admin_user_index') }}" class="underline text-blue-500"><i class="fas fa-arrow-left"></i> Retour</a>
    
    {{ include('admin/layout/show.html.twig', {
        title: 'Utilisateur',
        entity: user,
        label : ["Email","Adresse", "Téléphone"],
        fields : ["email", "address", "phone"],
        edit: "admin_user_edit"
    }) }}
    
    
    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
