{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('build/app/page/login.css')}}"/>
{% endblock %}

{% block body %}
    <div class="container mx-auto h-full flex justify-center items-center">
        <div class="w-1/3">
            <h1 class="font-hairline my-12 text-center text-5xl text-eden spectral">
                Nice to see you again, <span class="font-bold spectral">traveller</span>
            </h1>
            <form action="{{ path('app_login') }}" method="post" class="border-teal p-8 border-t-12 bg-white mb-6 rounded-lg shadow-lg">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="mb-4">
                    <label class="font-bold text-grey-darker block mb-2">Email</label>
                    <input
                            name="email"
                            type="text"
                            class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
                            placeholder="mikehorn@gmail.com"
                            autofocus
                            required
                    >
                </div>

                <div class="mb-4">
                    <label class="font-bold text-grey-darker block mb-2">Password</label>
                    <input
                            name="password"
                            type="password"
                            class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
                            placeholder="*******"
                            required
                    >
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="flex items-center justify-between">
                    <button class="rounded-full bg-gigas mx-auto text-white font-bold py-2 px-6">
                        Login
                    </button>
                </div>

                <div class="text-center mt-5">
                    <p class="text-black text-sm">Don't have an account?
                        <a href="/register" class="no-underline text-black font-bold">Create an Account</a>.
                    </p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
