{% extends 'base.html.twig' %}

{% block title %}Traaavl - Générateur{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<div id="generator-box" class="container mt-20">
    <div class="flex h-full">
        <div
            id="map-container"
            class="w-7/12 rounded-lg outline-none"
            data-departure="{{ departure }}"
            data-arrival="{{ arrival }}"
        >
            <div id="map" style="width:900px;height:700px;"></div>
        </div>
        <div id="activities" class="w-5/12 bg-white rounded-r-lg px-4 flex flex-col">
            <div class="pb-4">
                <p class="filters">Filter your research</p>
                <div class="flex">
                    <div>
                        <label for="rayon">Rayon</label>
                        <select id="rayon">
                            <option value="10">Fairly close</option>
                            <option value="20">Close</option>
                            <option value="30">Acceptable</option>
                            <option value="30">Far away</option>
                            <option value="30">Very far away</option>
                        </select>
                    </div>
                    <div class="mx-4">
                        <label for="city">City</label>
                        <select id="city">
                            <option value="">Choose a City</option>
                            {% for city in cities %}
                                <option value="{{ city.getId() }}">{{ city.getName() }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="category">Category</label>
                        <select id="category">
                            <option value="">Choose a Category</option>
                            {% for category in categories %}
                                <option value="{{ category.getId() }}">{{ category.getName() }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div id="activity-list" class="overflow-x-scroll bg-scroll">
                {% block restore %}{% endblock %}
            </div>
            <div class="flex justify-center mt-auto">
                <button id="generator-submit" type="submit">Confirm my roadtrip!</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places">
    </script>
{% endblock %}
