{% extends 'base.html.twig' %}

{% block title %}Traaavl - {{ forum_thread.title|capitalize }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<section id="show_thread">
    <div class="mb-10 flex items-center">
        <h1 class="text-4xl font-bold">{{ forum_thread.title|capitalize }}</h1>

        {% if app.user %}
            <a href="{{ path('front_forum') }}">
                <button class="principal_btn bg-carnation">
                    Back to list
                </button>
            </a>
        {% endif %}
    </div>

    {% if(forum_thread.roadtrip) %}
        <div class="flex h-full">
            <div
                    id="map-container"
                    class="w-7/12 rounded-lg outline-none"
                    data-departure="{{ forum_thread.roadtrip.departure }}"
                    data-arrival="{{ forum_thread.roadtrip.arrival }}"
            >
                <div id="map" style="width:900px;height:700px;"></div>
            </div>
            <div id="activities" class="w-5/12 bg-white rounded-r-lg px-4 flex flex-col">
                <div id="activity-list" class="overflow-x-scroll bg-scroll">
                    {% for activity in forum_thread.roadtrip.activities %}
                        {% include 'api/activity.html.twig' with {'thread': 'true'} %}
                    {% endfor %}
                </div>
                <div class="flex justify-center mt-auto">
                    <a href="{{ share }}" id="generator-open">Duplicate this Roadtrip!</a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row_answer m-w-100 bg-white border border-silver rounded-lg mt-5 p-3">
        <div class="m-w-100 flex items-center justify-between border-b border-silver pb-2">
            <div>
                <p class="font-bold {{ forum_thread.author.roles[0] == "ROLE_ADMIN" ? "inline-block" : "" }}">{{ forum_thread.author.email }}</p>
                {% if forum_thread.author.roles[0] == "ROLE_ADMIN" %}
                    <span class="bg-gradient-to-r from-burn-sienna to-grenadier text-white rounded-md py-0.5 px-1.5 ml-1.5 inline-block text-xs">Admin</span>
                {% endif %}
                <p class="text-sm text-eden opacity-40">
                {{ forum_thread.createdAt ? forum_thread.createdAt|date('Y-m-d H:i:s') : '' }}
                {{ forum_thread.updatedAt and forum_thread.updatedAt|date('Y-m-d H:i:s') > forum_thread.createdAt|date('Y-m-d H:i:s') ?
                    "(Edited)"
                : '' }}
                </p>
            </div>
            <div class="flex items-center">
                {% if is_granted("thread_edit", forum_thread) %}
                    <a
                    href="{{ path('front_forum_thread_edit', {'id': forum_thread.id}) }}"
                    class="mr-4"
                    >
                        <i class="fas fa-edit text-grenadier text-lg"></i>
                    </a>
                {% endif %}

                {% if is_granted("thread_delete", forum_thread) %}
                    {{ include('front/forum_thread/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
        <div class="m-w-100 mt-3">
            {{ forum_thread.description|striptags('<b><strong><i><em><span><a><ul><li><p><u><blockquote><ol>')|raw }}
        </div>
        {{ include('front/forum_thread/_like.html.twig') }}
    </div>

    {% for answer in forum_thread_answers %}
    <div class="row_answer m-w-100 bg-white border border-silver rounded-lg mt-5 p-3">
        <div class="m-w-100 flex items-center justify-between border-b border-silver pb-2">
            <div>
                <p class="font-bold {{ answer.author.roles[0] == "ROLE_ADMIN" ? "inline-block" : "" }}">{{ answer.author.email }}</p>
                {% if answer.author.roles[0] == "ROLE_ADMIN" %}
                    <span class="bg-gradient-to-r from-burn-sienna to-grenadier text-white rounded-md py-0.5 px-1.5 ml-1.5 inline-block text-xs">Admin</span>
                {% endif %}
                <p class="text-sm text-silver">
                {{ answer.createdAt ? answer.createdAt|date('Y-m-d H:i:s') : '' }}
                {{ answer.updatedAt and answer.updatedAt|date('Y-m-d H:i:s') > answer.createdAt|date('Y-m-d H:i:s') ?
                    "(Edited)"
                : '' }}
                </p>
            </div>
            <div class="flex items-center">
                {% if is_granted("answer_edit", answer) %}
                    <a
                    href="{{ path('front_forum_thread_answer_edit', {'id': answer.id, 'idThread': forum_thread.id}) }}"
                    class="mr-4"
                    >
                        <i class="fas fa-edit text-grenadier text-lg"></i>
                    </a>
                {% endif %}

                {% if is_granted("answer_delete", answer) %}
                    {{ include('front/forum_thread_answer/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
        <div class="m-w-100 mt-3">
            {{ answer.content|striptags('<b><strong><i><em><span><a><ul><li><p><u><blockquote><ol>')|raw }}
        </div>
        {{ include('front/forum_thread_answer/_like.html.twig') }}
    </div>
    {% endfor %}

    <div class="mt-5">{{ knp_pagination_render(forum_thread_answers) }}</div>

    {% if app.user %}
        {{ include('front/forum_thread_answer/_form.html.twig') }}
    {% else %}
        <p class="text-center mt-10">
            To reply to this thread, you have to
            <a href="/login" class="bg-eden text-white rounded-full py-2 px-4">Log in</a>
        </p>
    {% endif %}

</section>
{% endblock %}

{% block javascripts %}
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places">
    </script>
{% endblock %}