<label for="{{ id }}" class="flex items-center cursor-pointer mx-4 check-slide">
    <!-- toggle -->
    <div class="relative">
        <!-- input -->
        <input type="checkbox" id="{{ id }}" class="sr-only"
               name="{{ name ?? id }}" {% if required %}required{% endif%} {% if checked %}checked{% endif %}>
        <!-- line -->
        <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
        <!-- dot -->
        <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
    </div>
    <!-- label -->
    <div class="ml-3 text-gray-700 font-medium">
        {{ label }}
    </div>
</label>
