<div class="relative mt-4" data-children-count="1">
	<label for="{{ id }}" class="text-base leading-7 text-blueGray-500">{{ label }}</label>
	
	<select class="w-full px-4 py-2 mt-2 text-base text-black transition duration-500 ease-in-out transform border-transparent
			       rounded-lg border-gray-200 focus:border-blueGray-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2"
	        name="{% if name is defined %}{{ name }}{% else %}{{ id }}{% endif %}"
	        aria-label="{% if placeholder is defined %}{{ placeholder }}{% endif %}"
	        aria-describedby="basic-addon2" {% if multiple is defined %}multiple{% endif %}>
		{% for value in values %}
			<option value="{{ value.value }}" {% if value is selectedchoice(selectedValue) %}selected{% endif %}>
				{{ value.label }}
			</option>
		{% endfor %}
	</select>
</div>
