<div class="md:container bg-white shadow overflow-hidden sm:rounded-lg mx-8">
	<div class="px-4 py-5 sm:px-6 flex flex-row justify-between">
		<h3 class="text-lg leading-6 font-medium text-gray-900">
			{{ title }}
		</h3>
		<a href="{{ path(edit, {'id': entity.id}) }}" class="px-4 py-2 bg-green-700 text-white"><i class="fas fa-pen"></i></a>
		{% if delete is defined %}
		<form method="post" action="{{ path(delete) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="px-4 py-2 bg-green-700 text-white">
			<input type="hidden" name="_method" value="DELETE">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
			<button class="bg-red-500 text-white"><i class="fas fa-trash"></i></button>
		</form>
		{% endif %}
	</div>
	<div class="border-t border-gray-200">
		<dl>
			{% for value in label %}
				<div class="{% if loop.index % 2 %}bg-gray-50{% else %}bg-white{% endif %}
							{% if not loop.last %}border-b border-gray-200{% endif %}
                            px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
					<dt class="text-sm font-medium text-gray-500">
						{{ value }}
					</dt>
					<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
						{{ dynamic_field(entity, fields[loop.index0]) }}
					</dd>
				</div>
			{% endfor %}
		</dl>
	</div>
</div>
