{% set new = new ?? null %}
<div class="mx-auto px-4 sm:px-8 max-w-6xl">
	<div class="py-8">
		<div class="flex flex-row mb-1 sm:mb-0 justify-between w-full">
			<h2 class="text-6xl font-normal leading-normal mt-0 mb-2 leading-tight">
				{{ title }}
			</h2>
			<div class="text-end">
				{% if new is not null %}
					<form class="flex w-full max-w-sm space-x-3">
						<a href="{{ path(new) }}"
						   class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-blue-600 rounded-lg
							shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500
							focus:ring-offset-2 focus:ring-offset-blue-200">
							Ajout
						</a>
					</form>
				{% endif %}
			</div>
		</div>
		<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
			<div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
				<table class="min-w-full leading-normal">
					<thead>
					<tr>
						{% for header in headers %}
							<th scope="col" class="px-5 py-3 bg-white  border-b border-gray-200 text-gray-800  text-center text-sm uppercase font-normal">
								{{ header }}
							</th>
						{% endfor %}
					</tr>
					</thead>
					<tbody>
					{% for item in pagination.items %}
						<tr class="{% if not loop.last %}border-b border-gray{% endif %}">
							{% for field in fields %}
								<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
									{{ dynamic_field(item, field) }}
								</td>
							{% endfor %}
							<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm items-center text-center">
								{% if "edit" in actions %}
									<a class="button-blue" href="{{ path(show, {'id': item.id}) }}"><i class="fas fa-eye"></i></a>
								{% endif %}
								{% if "show" in actions %}
									<a class="button-green" href="{{ path(edit, {'id': item.id}) }}"><i class="fas fa-pen"></i></a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				{{ include('admin/layout/pagination.html.twig') }}
				{# <div class="px-5 bg-white py-5 flex flex-col xs:flex-row items-center xs:justify-between"> #}
				{# <div class="flex items-center"> #}
				{# <button type="button" class="w-full p-4 border text-base rounded-l-xl text-gray-600 bg-white hover:bg-gray-100"> #}
				{# <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"> #}
				{# <path d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z"> #}
				{# </path> #}
				{# </svg> #}
				{# </button> #}
				{# <button type="button" class="w-full px-4 py-2 border-t border-b text-base text-indigo-500 bg-white hover:bg-gray-100 "> #}
				{# 1 #}
				{# </button> #}
				{# <button type="button" class="w-full px-4 py-2 border text-base text-gray-600 bg-white hover:bg-gray-100"> #}
				{# 2 #}
				{# </button> #}
				{# <button type="button" class="w-full px-4 py-2 border-t border-b text-base text-gray-600 bg-white hover:bg-gray-100"> #}
				{# 3 #}
				{# </button> #}
				{# <button type="button" class="w-full px-4 py-2 border text-base text-gray-600 bg-white hover:bg-gray-100"> #}
				{# 4 #}
				{# </button> #}
				{# <button type="button" class="w-full p-4 border-t border-b border-r text-base  rounded-r-xl text-gray-600 bg-white hover:bg-gray-100"> #}
				{# <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"> #}
				{# <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"> #}
				{# </path> #}
				{# </svg> #}
				{# </button> #}
				{# </div> #}
				{# </div> #}
			</div>
		</div>
	</div>
</div>
