#generator-box {
  height: 75vh;

  #map-container {
    #map {
        width: 100% !important;
        height: 100% !important;
        @apply rounded-lg;
      }
  }

  #activities {
    .filters {
      @apply mb-4;
      @apply text-2xl;
      @apply text-violet;
      @apply font-medium;
      @apply ml-1;
    }

    label {
      @apply hidden;
      @apply font-medium;
      @apply text-black;
      @apply text-lg;
    }

    select {
      @apply bg-gray-100;
      @apply rounded-full;
      @apply pl-4;
      @apply pr-8;
      @apply py-2;
      @apply text-silver;
      @apply outline-none;
      @apply border-none;
    }

    button[type=submit] {
      @apply mt-5;
      @apply bg-gigas;
      @apply px-8;
      @apply py-4;
      @apply rounded-full;
      @apply text-white;
      @apply font-medium;
      @apply text-lg;
    }
  }
}

#generator-details {
  h1 {
    @apply mb-4;
    @apply text-2xl;
    @apply text-violet;
    @apply font-medium;
  }

  .clipboard {
    @apply flex;

    .icon {
      @apply text-white;
      @apply px-2;
      @apply flex ;
      @apply items-center;
      @apply h-full;
      @apply rounded-l-xl;
      @apply px-4;
    }

    input {
      @apply border;
      @apply rounded-r-xl;
      @apply px-2;
    }
  }

  .step {
    @apply flex;
    @apply flex-col;
    @apply mr-5;
    @apply w-20;

    .link {
      @apply w-4;
      @apply h-32;
      @apply bg-gray-300;
      @apply mx-auto;
      margin-top: -5px;
      margin-bottom: -5px;
      z-index: -1;

      &.small {
        @apply h-10;
      }
    }

    .dot {
      @apply w-12;
      @apply h-12;
      @apply border-4;
      @apply border-gray-300;
      @apply bg-gigas;
      @apply rounded-full;
      @apply mx-auto;
      @apply flex;
      @apply justify-center;
      @apply items-center;
      @apply text-white;
      @apply font-bold;
    }
  }

  .destination {
    @apply flex;
    @apply mt-5;
    @apply text-lg;
    @apply text-violet;
  }
}
