{% extends 'base.html.twig' %}

{% block body %}
	<section class="w-full mx-auto">
		<div class="sm:w-1/3 w-3/4 mx-auto bg-white shadow overflow-hidden shadow-2xl sm:rounded-lg mx-8">
			<div class="px-4 py-5 sm:px-6 flex flex-row justify-between m-auto">
				<h3 class="text-lg leading-6 font-medium text-gray-900">
					Mon Profil
				</h3>
				<section class="flex flex-row">
					<a href="{{ path("front_app_account_edit") }}" class="px-4 py-2 bg-green-700 text-white"><i class="fas fa-pen"></i></a>
					<form method="post" action="{{ path("front_app_account_delete") }}" onsubmit="return confirm('Are you sure you want to delete this item?');"
					      class="px-4 py-2 bg-red-500 text-white">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
						<button class=""><i class="fas fa-trash"></i></button>
					</form>
				</section>
			</div>
			<div class="border-t border-gray-200">
				<dl>
					<div class="bg-gray-50
						border-b border-gray-200
                        px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
						<dt class="text-sm font-medium text-gray-500">
							Email
						</dt>
						<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
							{{ user.email }}
						</dd>
					</div>
					<div class="bg-gray-50
						border-b border-gray-200
                        px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
						<dt class="text-sm font-medium text-gray-500">
							FirstName
						</dt>
						<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
							{{ user.person.firstname }}
						</dd>
					</div>
					<div class="bg-gray-50
						border-b border-gray-200
                        px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
						<dt class="text-sm font-medium text-gray-500">
							LastName
						</dt>
						<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
							{{ user.person.lastname }}
						</dd>
					</div>
					<div class="bg-gray-50
						border-b border-gray-200
                        px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
						<dt class="text-sm font-medium text-gray-500">
							Adresse
						</dt>
						<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
							{{ user.address }}
						</dd>
					</div>
					<div class="bg-gray-50
						border-b border-gray-200
                        px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
						<dt class="text-sm font-medium text-gray-500">
							Téléphone
						</dt>
						<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
							{{ user.phone }}
						</dd>
					</div>
				</dl>
			</div>
		</div>
	</section>

{% endblock %}
