{% extends 'base.html.twig' %}

{% block title %}Edit Activity{% endblock %}

{% block body %}
    <h1 class="text-center">Edit Activity</h1>
    
    <a class="px-4" href="{{ path('front_app_activity_all') }}">back to list</a>
    
    {{ include('front/activity/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{{ encore_entry_script_tags('collection') }}
{% endblock %}
