{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    {{ include('admin/layout/table.html.twig', {
        "headers": ["Id","Name","Address","actions"],
        "fields": ["id","name","address"],
        "pagination": pagination,
        "actions": ["edit", "show"],
        "new":  'front_app_activity_new',
        "edit":  'front_app_activity_edit',
        "show":  'front_app_activity_show',
        "title": 'Mes Activités'
    }) }}
    
{% endblock %}
