<div id="listing-{{ activity.getId() }}" data-index="{{ activity.getId() }}" class="listing p-4 rounded-lg overflow-hidden bg-gray-100 my-4 flex justify-between items-center">
    <div class="">
        <p>{{ activity.getName() }}</p>
        <p>{{ activity.getAddress() }}</p>
        <p>{{ activity.getPhone() }}</p>
    </div>

    <button
            id="btn-{{ activity.getId() }}"
            data-index="{{ activity.getId() }}"
            data-longitude="{{ activity.getLongitude() }}"
            data-latitude="{{ activity.getLatitude() }}"
            data-marker="{{ activity.getCategories()[0].getUrl() }}"
            class="{{ thread|default() ? 'hidden' }} btn-listing p-2 rounded-full bg-green-500 w-10 h-10 text-white focus:outline-none">
        +
    </button>
</div>
